:root {
  --button-color: #272044;
  --Alhambra-Blush: #f2e1c1;
  --Sunset-Clay: #e6b89c;
  --Olive-Mist: #e7e4d2;
  --Andalusian-Sand: #faf3e0;
}

body {
  font-family: "poppins", sans-serif;
  background-color: var(--Olive-Mist);
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)),
    url("../images/Phot-\ by-Ali-Durmuş-Cevlan.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--Alhambra-Blush);
  text-align: center;
  padding: 260px 0;
}

header h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 1;
  margin: 30px 0;
}

header h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
}

header h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
}

header a {
  font-weight: 700;
  font-size: 14;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  background-color: var(--Alhambra-Blush);
  text-decoration: none;
  color: var(--button-color);
  padding: 16px 32px;
  margin-top: 32px;
  display: inline-block;
}

@media (max-width: 900px) {
  header {
    padding: 60px 0;
  }
  header h1 {
    font-size: 48px;
  }
  header h2 {
    font-size: 20px;
  }
  header h3 {
    font-size: 12px;
  }
}
